
body, html {
    margin: 0;
    padding: 0;
}

.section {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.title2 {
    display: none;
}
.title2.active {
    display: block;
    animation: bit ;
}

.title h1 {
    font-size: 100px;
    color: #fff;
    padding: 100px;
    margin: 0;
    background-color: rgb(254, 72, 0);
    border-radius: 100px;
    text-decoration:  none;
}

.title {
    transition: 0.6s;
}

.title:hover {
    transform: scale(1.10);
    transition: 0.6s;
}


.title2 h1 {
    font-size: 100px;
    color: #fff;
    padding: 100px;
    margin: 0;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    text-decoration:  none;
}